body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("valentine-bg.jpg");
  /* Set custom background image */
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  body {
    background-size: auto;
    /* Adjust background size for smaller mobile devices */
    background-position: inherit;
    /* Inherit background position from parent */
  }
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease forwards;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  color: crimson;
  /* Crimson red text */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.valentine-card {
  text-align: center;
  margin-bottom: 30px;
}

.valentine-card img {
  width: 120px;
  margin-bottom: 15px;
  border-radius: 100%;
}

.valentine-card p {
  color: #333;
  /* Adjusted text color */
  font-size: 1.2rem;
}

.voucher-section {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  color: crimson;
  /* Crimson red text */
  font-size: 1.1rem;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
}

button {
  background-color: crimson;
  /* Crimson red button */
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8b0000;
  /* Dark red on hover */
}

#voucherMessage {
  margin-top: 15px;
  color: crimson;
  /* Crimson red text */
  font-weight: bold;
  font-size: 1.1rem;
  opacity: 0;
  /* Initially hidden */
}

.voucher-success {
  animation: bounce 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}
